.header {
    position: relative;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 24px;
    background-color: white;  
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px 5%;
}
.navbar {
    border: solid 1px grey;
    box-sizing: border-box;
    border-radius: 40px;
    width: 12%;
    height: 36px;    
    background-color: white;
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

}

/* .navbar:nth-child(1) {
   border-top-left-radius: 40px;
}
.navbar:nth-child(3) {
    border-top-right-radius: 40px;
} */
.navbar li {

    /* background-color: red; */
    color: #66837E;
    height: 20px;
}

.login{
    text-align: center;
    position: absolute;
    right: 5%;
    background-color: #66837E;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 4px 16px;
    width: 72px;
}